name: PR QA

on:
  pull_request:
    branches:
      - jakarta
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Checkout and Build
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        java-version: [11, 16, 17]

    steps:
      - uses: actions/checkout@v2
      - name: JDK setup
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

  coverage:
    name: Quality Assurance
    runs-on: ubuntu-20.04
    needs: [ build ]

    steps:
      - uses: actions/checkout@v2
      - name: Codacy analysis reporting
        uses: codacy/codacy-analysis-cli-action@master
